body{
	background-color:#d9d9d9;
	color: #777
}

/* To allow scaling to large screens */
.row {
    max-width: 100%;
    max-height: 100%;
}

/* Header ---------------------- */
header{
	background-color:#91D5D6;
}

div.headerbar{
	margin-top:1em;
	padding-left: 1em;
	background-color: #33CCCC;
}

/* Menu ---------------------- */

div.menubar{
	margin-top:0.5em;
	margin-bottom:0.5em; 
	padding:0;
}

div.menubar-xs{
	margin-top:0.5em;
	margin-bottom:0.5em; 
	padding:0;
	margin-left: 2em;
}

span.menubutton {
	font-size: 1.8em;
}

.btn-group-lg > a.btn:hover, .btn-group-lg > a.btn:active, .btn-group-lg > a.btn:focus {
	color:#00000;
	background-color: #008cba;
}

.btn-group-lg > a.btn {
	padding:4px;
	font-size: 16px;
	border-radius: 0px;
	color: #ffffff;
  	background-color: #1B6666;	
}

/* Content ---------------------- */

div.content{
	background-color: #FFFFFF;
	padding:2em;
	
}

img.mugshot {
	width:100%;
	max-width:500px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map {
	margin-top:2em;
	text-align: center;
}

ul.dr-roles{
	font-size: 80%;
}

.doeeensraar {unicode-bidi: bidi-override; direction: rtl;}

/* Making the content 100% */

html, body, #wrapper {
	height:100%;
}

body > #wrapper{height: auto; min-height: 100%;}

section, div.contentcontainer, div.content {
	padding-bottom: 20px; /*  same height as the footer */
    overflow:hidden;
    top:0px; bottom: 0; left: 0; right: 0;     
}

footer {
	position: relative;
    margin-top: -20px; /* negative value of footer height */
    height: 20px;
    clear:both;
}

.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}

iframe#introlution {
	width:100%;
	height:60em;
	border:none;
}

/* Footer ---------------------- */

footer {
	font-size: 50%;
}





