body{
	background-color:#d9d9d9;
	color: #777
}

/* To allow scaling to large screens */
.row {
    max-width: 100%;
    max-height: 100%;
}

/* Header ---------------------- */
header{
	background-color:#91D5D6;
}

div.headerbar{
	margin-top:1em;
	padding-left: 1em;
	background-color: #33CCCC;
}

/* Menu ---------------------- */

div.menubar{
	margin-top:0.5em;
	margin-bottom:0.5em; 
	padding:0;
}

a.btn {
  padding:0.2em;
  margin:0;
  display: block;
  color: #ffffff;
  background-color: #1B6666;
  text-align:center;
  width:100%;
  height:100%;
}


/* Content ---------------------- */

div.content{
	background-color: #FFFFFF;
	padding:2em;
	
}

img.mugshot {
	width:100%;
	max-width:260px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe.map {
	text-align: center;
}

ul.dr-roles{
	font-size: 80%;
}

/* Making the content 100% */

html, body, #wrapper {
	height:100%;
}

body > #wrapper{height: auto; min-height: 100%;}

section, div.contentcontainer, div.content {
	padding-bottom: 20px; /*  same height as the footer */
    overflow:hidden;
    top:0px; bottom: 0; left: 0; right: 0;     
}

footer {
	position: relative;
    margin-top: -20px; /* negative value of footer height */
    height: 20px;
    clear:both;
}

.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}

iframe#introlution {
	width:100%;
	height:60em;
	border:none;
}

/* Footer ---------------------- */

footer {
	font-size: 50%;
}



