<!doctype html>
<html lang="nl">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="huisarts mechelen, huisartspraktijk mechelen, 
    	huisarts mechelen zuid, huisartspraktijk mechelen zuid, dokter mechelen, 
    	dokter mechelen zuid, huisartsen de vaart, huisartsenpraktijk de vaart, 
    	de vaart, huisarts, huisartsenpraktijk, sportarts, sportarts mechelen, s
    	portarts mechelen zuid, lijfarts, lijfarts mechelen, lijfarts mechelen zuid, 
    	groepspraktijk, groepspraktijk mechelen zuid, groepspraktijk mechelen,
    	stuivenbergvaart, stuivenbergvaart 52, Sofie Decamps, Sofie Van Tongelen"/>
    <meta description"Huisartsenpraktijk De Vaart, een groepspraktijk in Mechelen Zuid aan Stuivenbergvaart nummer 52 met dokters Sofie Decamps en Sofie Van Tongelen."/>
    <title>Huisartsenpraktijk De Vaart - Groepspraktijk Mechelen Zuid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">
    
    <!-- Own markup -->
    <link href="stylesheets/styles.css" rel="stylesheet" media="screen">
    
  </head>

  </head>
  <body>
	<header>
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<h1>Huisartsenpraktijk De Vaart</h1>
			</div>
		</div>
		
		
				
				<a href="index.html" class="knop" id="home">Wie zijn wij?</a>
				<a href="route.html" class="knop" id="appointement">Maak een afspraak</a>
				<a href="route.html" class="knop" id="route">Contact</a>
				<a href="praktisch.html" class="knop" id="practical">Praktische info</a>
				<a href="praktisch.html" class="knop" id="practical">Test</a>
		
	</header>
	<section>
			{{ content}}
	</section>
	<footer>
	
	</footer>
  </body>
</html>