<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Huisartsen Praktijk De Vaart</title>
    <link rel="stylesheet" href="stylesheets/normalise.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div id="wrapper">
    	<div id="header-background">
    		<div id="header" class="center">
			</div>
      	</div>
      	<div id="main" class="center">
			<div id="menu">
				<a href="index.html" class="btn" id="home">Wie zijn wij?</a>
				<a href="route.html" class="btn" id="appointement">Maak een afspraak</a>
				<a href="route.html" class="btn" id="route">Wegbeschrijving</a>
				<a href="praktisch.html" class="btn" id="practical">Praktische info</a>
			</div>
			<div id="section">
			{{ content}}
			</div>
	
			<div id="footer">
			</div>
      	</div>
    </div>    
  </body>
</html>