<!doctype html>
<html lang="nl">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="huisarts mechelen, huisartspraktijk mechelen, 
    	huisarts mechelen zuid, huisartspraktijk mechelen zuid, dokter mechelen, 
    	dokter mechelen zuid, huisartsen de vaart, huisartsenpraktijk de vaart, 
    	de vaart, huisarts, huisartsenpraktijk, sportarts, sportarts mechelen, s
    	portarts mechelen zuid, lijfarts, lijfarts mechelen, lijfarts mechelen zuid, 
    	groepspraktijk, groepspraktijk mechelen zuid, groepspraktijk mechelen,
    	stuivenbergvaart, stuivenbergvaart 52, Sofie Decamps, Sofie Van Tongelen"/>
    <meta description"Huisartsenpraktijk De Vaart, een groepspraktijk in Mechelen Zuid aan Stuivenbergvaart nummer 52 met dokters Sofie Decamps en Sofie Van Tongelen."/>
    <title>Huisartsenpraktijk De Vaart - Groepspraktijk Mechelen Zuid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../javascript/html5shiv.js"></script>
      <script src="../javascript/respond.min.js"></script>
    <![endif]-->
  </head>

  </head>
  <body>
	<header>
		<div class="row">
		<h1>Huisartsenpraktijk De Vaart</h1>
		</div>
		<div class="row">		
				<div class="col-md-1"><a href="index.html" class="knop" id="home">Wie zijn wij?</a></div>
				<div class="col-md-1"><a href="route.html" class="knop" id="appointement">Maak een afspraak</a></div>
				<div class="col-md-1"><a href="route.html" class="knop" id="route">Contact</a></div>
				<div class="col-md-1"><a href="praktisch.html" class="knop" id="practical">Praktische info</a></div>
				<div class="col-md-1"><a href="praktisch.html" class="knop" id="practical">Test</a></div>
		</div>
	</header>
	<section>
			{{ content}}
	</section>
	<footer>
	
	</footer>
	
    
  </body>
</html>