<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Huisartsen Praktijk De Vaart</title>
    <link rel="stylesheet" href="stylesheets/normalise.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div id="wrapper">
    	<div id="header-background">
    		<div id="header" class="center">
    			<div id="header-content">
	        		<h1>Huisartsenpraktijk De Vaart</h1>
	        	</div>
			</div>
      	</div>
      	<div id="main" class="center">
			<div id="buttons">
			</div>
	
			<div id="section">
			{{ content}}
			</div>
	
			<div id="footer">
			</div>
      	</div>
    </div>    
  </body>
</html>