<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <title>Huisartsenpraktijk De Vaart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  </head>
  <body>
	<header>
		<div class="row">
		<h1>Huisartsenpraktijk De Vaart</h1>
		</div>
		<div class="row">		
				<div class="col-md-1"><a href="index.html" class="btn" id="home">Wie zijn wij?</a></div>
				<div class="col-md-1"><a href="route.html" class="btn" id="appointement">Maak een afspraak</a></div>
				<div class="col-md-1"><a href="route.html" class="btn" id="route">Contact</a></div>
				<div class="col-md-1"><a href="praktisch.html" class="btn" id="practical">Praktische info</a></div>
				<div class="col-md-1"><a href="praktisch.html" class="btn" id="practical">Test</a></div>
		</div>
	</header>
	<section>
			{{ content}}
	</section>
	<footer>
	
	</footer>
	
    
  </body>
</html>